
/* Body content */
.bodycontent {
	padding-top: 100px;
	width: 70%;
	min-height: 100%;
}

/* Downloads */
ul.button-width, a.button-width {
	width: 8rem;
}

/* Links */
/* Spectre override */
a:visited{
	color: #5755d9 !important;
}
/* Spectre override */
a:hover{
	text-decoration: none;
}

/* Menu */
/* Spectre override */
.menu {
	min-width: 1rem !important;
}

/* Spectre addition */
.tile-subtitle {
	font-weight: bold;
}

/* Hero image */
.bio-hero-img {
	/* The image used */
	background-image: url("../img/picture_big.jpg");

	/* Set a specific height */
	min-height: 200px;
	height: 600px;
	min-width: 300px;
	width: 100%;

	/* Position and center the image to scale nicely on all screens */
	/* background-position: center; */
	/* background-position: center top; */
	background-position: 70% 30%;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
