
/* Spectre - CUSTOM TIMELINE */

/* CUSTOMISATIONS
	.timeline-[left/right]
		margin-left: calc(50% - 12px);
		margin-right: calc(50% - 12px);
	.timeline .timeline-item
		left: 11px;
		right: 11px;
	.timeline .timeline-item .timeline-icon::before
		left: .4rem;
		right: .4rem;
	.timeline .timeline-item-left .timeline-content
		text-align: left;
		text-align: right;
 */

.timeline-left {
	margin-left: calc(50% - 12px);
}

.timeline-right {
	margin-right: calc(50% - 12px);
}

.timeline .timeline-item-left {
	display: flex;
	display: -ms-flexbox;
	margin-bottom: 1.2rem;
	position: relative;
}

.timeline .timeline-item-right {
	display: flex;
	display: -ms-flexbox;
	margin-bottom: 1.2rem;
	position: relative;
}

.timeline .timeline-item-left::before {
	background: #e7e9ed;
	content: "";
	height: 100%;
	left: 11px;
	position: absolute;
	top: 1.2rem;
	width: 2px;
}

.timeline .timeline-item-right::before {
	background: #e7e9ed;
	content: "";
	height: 100%;
	right: 11px;
	position: absolute;
	top: 1.2rem;
	width: 2px;
}

.timeline .timeline-item-left .timeline-line {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.timeline .timeline-item-right .timeline-line {
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
}

.timeline .timeline-item-left .timeline-content {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 2px 0 2px .8rem;
	text-align: left;
}

.timeline .timeline-item-right .timeline-content {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 2px .8rem 2px 0;
	text-align: right;
}

.timeline .timeline-item-left .timeline-icon {
	border-radius: 50%;
	color: #fff;
	display: block;
	height: 1.2rem;
	text-align: center;
	width: 1.2rem;
}

.timeline .timeline-item-right .timeline-icon {
	border-radius: 50%;
	color: #fff;
	display: block;
	height: 1.2rem;
	text-align: center;
	width: 1.2rem;
}

.timeline .timeline-item-left .timeline-icon::before {
	border: .1rem solid #5755d9;
	border-radius: 50%;
	content: "";
	display: block;
	height: .4rem;
	left: .4rem;
	position: absolute;
	top: .4rem;
	width: .4rem;
}

.timeline .timeline-item-right .timeline-icon::before {
	border: .1rem solid #5755d9;
	border-radius: 50%;
	content: "";
	display: block;
	height: .4rem;
	right: .4rem;
	position: absolute;
	top: .4rem;
	width: .4rem;
}

.timeline .timeline-item-left .timeline-icon.icon-lg {
	background: #5755d9;
	line-height: 1.2rem;
}

.timeline .timeline-item-right .timeline-icon.icon-lg {
	background: #5755d9;
	line-height: 1.2rem;
}

.timeline .timeline-item-left .timeline-icon.icon-lg::before {
	content: none;
}

.timeline .timeline-item-right .timeline-icon.icon-lg::before {
	content: none;
}
